.bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.40);
    z-index: -1;
}

.overlay::before {
    content: "";
    position: fixed;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background: linear-gradient(#00ffc0, #ff00cf);
    transform: translate(-45px, -30px);
    z-index: -2;

}


.overlay::after {
    content: "";
    position: fixed;
    height: 230px;
    width: 230px;
    border-radius: 50%;
    background: linear-gradient(#0815ff, #fc0000);
    transform: translate(-50px, 450px);
    z-index: -2;

}

.ball_1 {
    height: 100px;
    width: 100px;
    border-radius: 60%;
    background: #00ff31;
    transform: translate(250px, 350px);
    position: fixed;
    z-index: -2;

}

.ball_2 {
    height: 180px;
    width: 180px;
    border-radius: 60%;
    background: linear-gradient(#08ffc69e, #0010ff);
    transform: translate(300px, 35px);
    position: fixed;
    z-index: -2;

}

.ball_3 {
    height: 180px;
    width: 180px;
    border-radius: 60%;
    background: linear-gradient(#c20000e3, #fce600);
    transform: translate(270px, 631px);
    position: fixed;
    z-index: -2;

}